/generated/
/generated/aligned/
/generated/combined/
/generated/flat-fielded/
/generated/masters/
.env
data/photometry/MIST_v1.2_vvcrit0.4_UBVRIplus
/data/science
/data/flats
data/sloanr/wcs.FIT
data/sloanr/master_flats.FIT
data/sloanr/lights/rs9.fit
data/sloanr/lights/rs8.fit
data/sloanr/lights/rs7.fit
data/sloanr/lights/rs6.fit
data/sloanr/lights/rs5.fit
data/sloanr/lights/rs4.fit
data/sloanr/lights/rs3.fit
data/sloanr/lights/rs2.fit
data/sloanr/lights/rs15.fit
data/sloanr/lights/rs14.fit
data/sloanr/lights/rs13.fit
data/sloanr/lights/rs12.fit
data/sloanr/lights/rs11.fit
data/sloanr/lights/rs10.fit
data/sloanr/lights/rs1.fit
data/sloanr/flats/rf9.fit
data/sloanr/flats/rf8.fit
data/sloanr/flats/rf7.fit
data/sloanr/flats/rf6.fit
data/sloanr/flats/rf5.fit
data/sloanr/flats/rf4.fit
data/sloanr/flats/rf3.fit
data/sloanr/flats/rf20.fit
data/sloanr/flats/rf2.fit
data/sloanr/flats/rf19.fit
data/sloanr/flats/rf18.fit
data/sloanr/flats/rf17.fit
data/sloanr/flats/rf16.fit
data/sloanr/flats/rf15.fit
data/sloanr/flats/rf14.fit
data/sloanr/flats/rf13.fit
data/sloanr/flats/rf12.fit
data/sloanr/flats/rf11.fit
data/sloanr/flats/rf10.fit
data/sloanr/flats/rf1.fit
data/sloanr/flat_fielded/flat_fielded9.FIT
data/sloanr/flat_fielded/flat_fielded8.FIT
data/sloanr/flat_fielded/flat_fielded7.FIT
data/sloanr/flat_fielded/flat_fielded6.FIT
data/sloanr/flat_fielded/flat_fielded5.FIT
data/sloanr/flat_fielded/flat_fielded4.FIT
data/sloanr/flat_fielded/flat_fielded3.FIT
data/sloanr/flat_fielded/flat_fielded2.FIT
data/sloanr/flat_fielded/flat_fielded14.FIT
data/sloanr/flat_fielded/flat_fielded13.FIT
data/sloanr/flat_fielded/flat_fielded12.FIT
data/sloanr/flat_fielded/flat_fielded11.FIT
data/sloanr/flat_fielded/flat_fielded10.FIT
data/sloanr/flat_fielded/flat_fielded1.FIT
data/sloanr/flat_fielded/flat_fielded0.FIT
data/sloanr/combined_raw.FIT
data/sloanr/background_subtracted.FIT
data/sloanr/background_substracted.FIT
data/sloanr/background.FIT
data/sloanr/aligned/aligned9.FIT
data/sloanr/aligned/aligned8.FIT
data/sloanr/aligned/aligned7.FIT
data/sloanr/aligned/aligned6.FIT
data/sloanr/aligned/aligned5.FIT
data/sloanr/aligned/aligned4.FIT
data/sloanr/aligned/aligned3.FIT
data/sloanr/aligned/aligned2.FIT
data/sloanr/aligned/aligned14.FIT
data/sloanr/aligned/aligned13.FIT
data/sloanr/aligned/aligned12.FIT
data/sloanr/aligned/aligned11.FIT
data/sloanr/aligned/aligned10.FIT
data/sloanr/aligned/aligned1.FIT
data/sloanr/aligned/aligned0.FIT
data/sloang/wcs.FIT
data/sloang/master_flats.FIT
data/sloang/lights/gs9.fit
data/sloang/lights/gs8.fit
data/sloang/lights/gs7.fit
data/sloang/lights/gs6.fit
data/sloang/lights/gs5.fit
data/sloang/lights/gs4.fit
data/sloang/lights/gs3.fit
data/sloang/lights/gs2.fit
data/sloang/lights/gs15.fit
data/sloang/lights/gs14.fit
data/sloang/lights/gs13.fit
data/sloang/lights/gs12.fit
data/sloang/lights/gs11.fit
data/sloang/lights/gs10.fit
data/sloang/lights/gs1.fit
data/sloang/flats/gf9.fit
data/sloang/flats/gf8.fit
data/sloang/flats/gf7.fit
data/sloang/flats/gf6.fit
data/sloang/flats/gf5.fit
data/sloang/flats/gf4.fit
data/sloang/flats/gf3.fit
data/sloang/flats/gf2.fit
data/sloang/flats/gf10.fit
data/sloang/flats/gf1.fit
data/sloang/flat_fielded/flat_fielded9.FIT
data/sloang/flat_fielded/flat_fielded8.FIT
data/sloang/flat_fielded/flat_fielded7.FIT
data/sloang/flat_fielded/flat_fielded6.FIT
data/sloang/flat_fielded/flat_fielded5.FIT
data/sloang/flat_fielded/flat_fielded4.FIT
data/sloang/flat_fielded/flat_fielded3.FIT
data/sloang/flat_fielded/flat_fielded2.FIT
data/sloang/flat_fielded/flat_fielded14.FIT
data/sloang/flat_fielded/flat_fielded13.FIT
data/sloang/flat_fielded/flat_fielded12.FIT
data/sloang/flat_fielded/flat_fielded11.FIT
data/sloang/flat_fielded/flat_fielded10.FIT
data/sloang/flat_fielded/flat_fielded1.FIT
data/sloang/flat_fielded/flat_fielded0.FIT
data/sloang/combined_raw.FIT
data/sloang/background_subtracted.FIT
data/sloang/background_substracted.FIT
data/sloang/background.FIT
data/sloang/aligned/aligned9.FIT
data/sloang/aligned/aligned8.FIT
data/sloang/aligned/aligned7.FIT
data/sloang/aligned/aligned6.FIT
data/sloang/aligned/aligned5.FIT
data/sloang/aligned/aligned4.FIT
data/sloang/aligned/aligned3.FIT
data/sloang/aligned/aligned2.FIT
data/sloang/aligned/aligned14.FIT
data/sloang/aligned/aligned13.FIT
data/sloang/aligned/aligned12.FIT
data/sloang/aligned/aligned11.FIT
data/sloang/aligned/aligned10.FIT
data/sloang/aligned/aligned1.FIT
data/sloang/aligned/aligned0.FIT
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_p0.50_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_p0.25_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_m4.00_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_m3.50_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_m3.00_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_m2.50_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_m2.00_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_m1.75_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_m1.50_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_m1.25_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_m1.00_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_m0.75_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_m0.50_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_SDSSugriz/MIST_v1.2_feh_m0.25_afe_p0.0_vvcrit0.4_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_p0.50_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_p0.25_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_p0.00_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_m4.00_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_m3.50_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_m3.00_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_m2.50_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_m2.00_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_m1.75_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_m1.50_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_m1.25_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_m1.00_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_m0.75_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_m0.50_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.4_full_isos/MIST_v1.2_feh_m0.25_afe_p0.0_vvcrit0.4_full.iso
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_p0.50_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_p0.25_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_p0.00_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_m4.00_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_m3.50_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_m3.00_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_m2.50_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_m2.00_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_m1.75_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_m1.50_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_m1.25_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_m1.00_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_m0.75_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_m0.50_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
data/isochrones/MIST_v1.2_vvcrit0.0_SDSSugriz/MIST_v1.2_feh_m0.25_afe_p0.0_vvcrit0.0_SDSSugriz.iso.cmd
__pycache__/read_mist_models.cpython-314.pyc
__pycache__/read_mist_models.cpython-312.pyc
